.userBlock {
  word-wrap: break-word;
  border-radius: 10px;
  width: 250px;
  margin: 5px;
  border: solid black 1px;
  justify-content: center;
  img{
    margin: 20px 50px;
    width: 150px;
    border-radius: 200px;
  }
  h4{
    text-align: center;
    font-family: "Oswald", sans-serif;
  }
  p{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
  }
}
