@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.mainBlock {
  width: 1800px;
  margin: 40px auto 0 auto;
  display: flex;
}

@media (min-width: 100px) and (max-width: 768px){
  .mainBlock {
    width: 100%;
  }
}

@media  (min-width: 769px) and (max-width: 1600px) {
  .mainBlock {
  width: 1500px;
  }
}


